* {
  border: 0px;
  box-sizing: border-box;
  margin: 0px;
}
.first-child {
  border: 2px;
  width: 50vw;
  height: 100vh;
}
.header-container {
  width: 50vw;
  height: 200px;
  background-image: url("./insta\ logo.webp");
  background-repeat: no-repeat;
  background-position: 0px, 0px;
  background-size: auto;
  display: inline-block;
  margin-left: 70px;
  margin-top: 20px;
}
.text-container {
  width: 400px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 120px;
  padding-bottom: 150px;
}
.Text {
  font-weight: 400;
  font-size: 40px;
  font-family:
    "Quicksand",
    Instagram Sans Regular;
  text-align: center;
}
.color-text {
  background-image: linear-gradient(to right, #ff5c00, #ff0069, #d300c5);
}
.image-container {
  background-image: url("./insta.html");
}
.second-child {
  width: 50vw;
  height: 100vw;
}
