* {
  border: 0px;
  box-sizing: border-box;
  margin: 0px;
}
.first-child {
  border: 2px;
  width: 50vw;
  height: 100vh;
}
.header-container {
  width: 50vw;
  height: 200px;
  background-image: url("./insta\ logo.webp");
  background-repeat: no-repeat;
  background-position: 0px, 0px;
  background-size: auto;
  display: inline-block;
  margin-left: 70px;
  margin-top: 20px;
}
