* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
.Home-container {
  background-color: #063231;
  background-image: url("images/header1.jpg");
  width: 99vw;
  height: 730px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.Header-container {
  height: 100px;
  width: 99vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.Header-logo {
  height: 76px;
}
.Header-text {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  font-family: "Open Sans", sans-serif;
  color: white;
}
.Header-button {
  width: 200px;
  height: 46px;
  border-radius: 30px;
  border-color: #cbff54;
  background-color: #cbff54;
  /* font-weight: bold; */
  font-size: 15px;
  font-family: "Finlandica Text", sans-serif;
}
.Home-text {
  color: #cbff54;
}
