* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
.Home-container {
  background-image: url("images/header1.jpg");
  width: 99vw;
  height: 730px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #063231;
  background-blend-mode: multiply;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
}

.Header-container {
  height: 100px;
  width: 99vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.Header-logo {
  height: 76px;
}
.Header-text {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  font-family: "Open Sans", sans-serif;
  color: white;
}
.Header-button {
  width: 200px;
  height: 46px;
  border-radius: 30px;
  border-color: #cbff54;
  background-color: #cbff54;
  /* font-weight: bold; */
  font-size: 15px;
  font-family: "Finlandica Text", sans-serif;
}
.Home-text {
  color: #cbff54;
}
.Home-section-conatiner {
  width: 1200px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 20px;
  margin-left: 150px;
  margin-top: 30px;
}

.Home-header-button {
  padding: 5px;
  width: 210px;
  background-color: rgba(128, 128, 128, 0.5);
  border-radius: 30px;
  color: white;
  font-weight: bold;
}
.Highlight-container {
  font-size: 40px;
  color: white;
  width: 700px;
  text-align: center;
}
.Para-text {
  color: white;
  text-align: center;
  width: 700px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}
.Button-container {
  display: flex;
  gap: 30px;
}
.Enqurire-button {
  padding: 15px;
  border-radius: 30px;
  background-color: #cbff54;
  cursor: pointer;
  width: 190px;
  font-weight: bold;
}
.View-button {
  padding: 15px;
  border-radius: 30px;
  background-color: rgba(128, 128, 128, 0.5);
  cursor: pointer;
  width: 190px;
  color: white;
  font-weight: bold;
}
.Hero-section {
  width: 99vw;
  /* height: 500px; */
}
.Card-container {
  width: 1200px;
  height: 225px;
  background-color: #ffffff;
  display: flex;
  padding: 20px;
  gap: 10px;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  border-radius: 24px;
  margin-left: 170px;
  margin-top: -60px;
}
.Card {
  height: max-content;
  width: 400px;

  padding: 10px;
  gap: 30px;
}
.Font-button {
  border-radius: 50%;
  padding: 16px;
  font-size: 20px;
  background-color: black;
  color: #cbff54;
  margin-bottom: 20px;
}
.Heading {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  margin-bottom: 20px;
  color: #063231;
}
.Para {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: #495b55;
}
.About-image-container {
  width: 550px;
  height: 470px;
  display: flex;
}
.About-Img-1 {
  border-radius: 24px;
}
.About-Img-2 {
  border-radius: 24px;
  width: 220px;
  height: 230px;
  margin-top: 270px;
  margin-left: -180px;
}
.About-section {
  width: 90vw;
  display: flex;
  margin-left: 65px;
  padding: 100px;
}
.About-text-container {
  width: 600px;
  height: 600px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: 100px;
}
.About-icon {
  border-radius: 50%;
  padding: 2px;
  background-color: black;
  color: #ffffff;
  margin-bottom: 10px;
  margin-right: 5px;
}
.About-text {
  font-family: "Roboto", sans-serif;
}
.About-Heading {
  font-size: 54px;
  color: #063231;
  font-family: "Inter", sans-serif;
}
.About-para {
  font-size: 17px;
  color: #495b55;
  font-family: "Roboto", sans-serif;
}
.Icon-text {
  color: #495b55;
  font-family: "Roboto", sans-serif;
}
.Service-Container {
  width: 99vw;
  background-color: #f8f9fa;
  padding: 50px;
}
.Service-Container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.Service-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 120px;
  width: 700px;
}
.service-para {
  font-size: 14px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  color: #063231;
}
.Services-heading {
  font-size: 54px;
  font-family: "Inter", sans-serif;
  text-align: center;
  padding-bottom: 100px;
  color: #063231;
}
.Service-Image-card-container {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.Service-card {
  height: 400px;
  width: 387px;
  border-radius: 40px 40px 100px 100px;
}
.Service-text-card-container {
  /* width: 800px; */
  display: flex;
  gap: 80px;
}
.Service-text-card {
  width: 321px;
  height: 350px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  border-radius: 25px;
  text-align: center;
  gap: 10px;
  margin-top: -145px;
  img {
    height: 100px;
    width: 100px;
  }
}
.Service-text-card-heading {
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 30px;
  color: #063231;
}
.Service-text-card-para {
  color: #495b55;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
.Service-text-card-button {
  background-color: white;
  font-size: 16px;
  text-decoration: underline;
  cursor: pointer;
  font-weight: bold;
  color: #063231;
}
.Our-project-text-container {
  display: flex;
  justify-content: space-around;
  gap: 5px;
  padding: 100px;
}
.Our-project-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.Our-project-para {
  color: #063231;
  font-weight: bold;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}
.Our-project-heading {
  color: #063231;
  font-size: 54px;
  font-family: "Inter", sans-serif;
}
.Our-project-text {
  width: 520px;
}
.Projects-para {
  color: #495b55;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  padding: 10px;
}
.Our-project-text1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
}
.Our-project-button {
  background-color: #cbff54;
  color: #063231;
  width: 258px;
  height: 46px;
  font-weight: bold;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  border-radius: 25px;
}
.Our-Project-image {
  border-radius: 30px;
  padding: 8px;
}
.Our-project-image-container {
  padding-left: 150px;
  padding-bottom: 100px;
}
.Contact-Banner-container {
  background-image: url("images/Banner.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  background-blend-mode: multiply;
  height: 317px;
  width: 99vw;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  padding: 150px;
}
.Contact-Banner-text {
  width: 600px;
  height: 110px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.Contact-Banner-heading {
  font-size: 42px;
  color: #ffffff;
  font-family: "Inter", sans-serif;
}
.Contact-Banner-para {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
}
.Trust-container {
  display: flex;
  gap: 50px;
  padding: 150px;
}
.Trust-Image {
  width: 508px;
  height: 620px;
  border-radius: 25px;
}
.Trust-heading-para {
  color: #063231;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}
.Trust-heading {
  font-size: 54px;
  font-family: "Inter", sans-serif;
  color: #063231;
}
.Trust-para {
  font-size: 16px;
  color: #495b55;
  font-family: "Roboto", sans-serif;
}
.Trust-text-container {
  width: 575px;
  height: 620px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.First-heading {
  font-size: 42px;
  font-family: "Inter", sans-serif;
  color: #063231;
}
.Second-heading {
  color: #063231;
  font-family: "Inter", sans-serif;
  font-size: 20px;
}
.Card-para {
  color: #495b55;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}
.Trust-card-container {
  display: flex;
  gap: 20px;
}
.Trust-image-card {
  width: 179px;
  height: 121px;
  background-color: #cbff54;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 32px;
  color: #063231;
  font-size: 24px;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  margin-top: -30px;
}
.Trust-card-image-text {
  color: #063231;
  font-size: 24px;
  font-family: "Inter", sans-serif;
}
.Why-smd-container {
  background-color: #f8f9fa;
  display: flex;
  gap: 150px;
  padding-bottom: 120px;
}
.Why-smd-text-container {
  width: 575px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 150px;
  padding-top: 120px;
}
.Why-smd-card {
  background-color: #ffffff;
  width: 278px;
  height: 280px;
  padding: 30px;
  border-radius: 25px;
}
.Why-smd-card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 590px;
  /* height: 580px; */
  padding-top: 120px;
}
.Footer-container {
  background: #063231;
}
